/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* min body height */

body {
    min-height: 100vh;
}

.hero {
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
    margin: 0;
    min-height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__text,
.hero__shape {
    font-size: 9.9vw;
    margin: 0.1em;
    height: 9.9vw;
    line-height: 1;
}

.hero__cross{
    height: 2.5rem;
}

@keyframes move {
    0% {
        top: 10px;
    }

    50% {
        top: 30px;
    }

    100% {
        top: 10px;
    }
}

.hero__suggest {
    position: absolute; 
    bottom: 5px;
    right: 5px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.hero__suggest-outer {
    position: relative;
    height: 60px;
    width: 30px;
    border: 2px solid black;
    border-radius: 50px;
}

.hero__suggest-inner {
    position: absolute;
    left: calc(50% - 10px);
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    animation: move 3s ease-in-out infinite;
}

.hero__suggest-text {
    margin-top: 1em;
}



/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

.main {
    width: min(1140px, 100% - 4em);
    margin-inline: auto;
}

.shape-wrap {
    background-image: linear-gradient(to bottom, #eaeaea, #fff);
    margin-top: 8em;
    padding: 3em;
    border-radius: 8px;
}

.shape-title {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.shape {
    margin: 2em;
    background-image: linear-gradient(225deg, #ffc63f 0%, #fd3358 49%, #bc35d8 100%);

}

.shape-wrap>style {
    border-radius: 8px;
    display: block;
    white-space: pre;
    background: #333;
    color: white;
    font: 12px;
    padding: 0 15px;
    margin-top: 1rem;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
}